// ============ General style ============

@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,300i,400,400i,500');

:root {
  --background-menu: rgba(49, 78, 89, 1);
}

html {
  * {
    margin: 0;
    padding: 0;
    font-size: 2vw;
  }

  body {
    font-family: $font-primary;
    color: $primary-dark;
    font-size: $font-primary-size;
    font-weight: 200;

    .logo {
      height: 25px;
      width: auto;
      margin: 1rem 2rem;
    }

    // ============ Titles ============

    p,
    a,
    span {
      font-size: calc(16px + (18 - 16) * (100vw - 768px) / (1800 - 768));
      /* where 16px = min font-size,
       24-16 = max font size - min font size,
       400px = min screen size,
       800 - 400 = max screen size - min screen size;
      */
    }

    a {
      color: $font-color-primary;
      text-decoration: none;

      &:hover,
      :focus {
        text-decoration: underline;
      }
    }

    label {
      font-size: calc(14px + (16 - 14) * (100vw - 768px) / (1800 - 768));
    }

    h1 {
      font-size: 2.3em;
      font-size: calc(30px + (36 - 30) * (100vw - 768px) / (1800 - 768));
    }

    h2 {
      font-size: 2em;
      font-size: calc(26px + (32 - 26) * (100vw - 768px) / (1800 - 768));
      text-align: center;
      margin-bottom: 2rem;

      @include mq(768px) {
        font-size: 1.6rem;
      }
    }

    // ============ Buttons ============
    a.button {
      padding: .8rem 2rem;
      width: 9.375rem;
      margin-top: 2rem;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      color: $font-color-primary;
      border-radius: 2.25rem;
      font-weight: inherit;

      &.button-primary {
        background-color: $blue;
        color: $white;
      }

      &.button-secondary {
        background-color: $greenish;
        color: $white;
      }

      &:hover,
      :focus {
        filter: grayscale(50%);
        transition: filter 100ms ease-in;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .icon {
      display: inline-block;
      width: 25px;
      height: auto;
      margin-left: .3rem;
    }

    // ============ HERO section ============

    .hero-navbar {
      display: flex;
      justify-content: flex-end;

      a {
        img {
          height: 21px;
          width: auto;
          margin-left: 0;
          margin-top: 1.125rem;
          margin-bottom: 1.125rem;
        }
      }
    }

    .bg-striped {
      background: linear-gradient(to bottom,
        $light-graphite,
        $light-graphite 50%,
        $white 50%,
        $white);
      background-size: 100% 20px;
    }

    // ============ WORK section ============
    .main {
      text-align: center;

      .work-menu {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
          margin: 0.8rem 1rem;
        }
      }
    }
  }
}

// ============ Style HEADER =================

// ============ Style Hero section ============

// ============ Style INTRO ============



// ============ Style MAIN ============
.main {

  .portfolio-img {

    img {
      width: 100%;
      vertical-align: middle;
    }

    // &.large {
    //   img {
    //     width: calc(100% - 5px);
    //   }
  }
}

// }

// ============ Style CONTACT ============

// ============ Style FOOTER ============
footer {
  background: var(--background-menu);
  margin-top: 2rem;
}