// ============ Titles ============
h2 {
  text-align: center !important;
  margin-bottom: 2rem !important;
}


// ============ Style HEADER =================
// .bg-navbar {
//   background-color: $graphite !important;
// }

.navbar {

  padding: 0 !important;

  .navbar-dark .bg-dark {
    background-color: $graphite !important;
  }

  .navbar-collapse .collapse {
    background-color: $graphite;
    min-width: 100%;
    padding: 0.5rem 1rem;
  }


}

// ============ Style Hero section ============

// ============ Style INTRO ============



// ============ Style MAIN ============
.main {

  .portfolio-img {

    img {
      width: 100%;
      vertical-align: middle;
    }
  }
}

// ============ Style CONTACT ============