// ============ General style ============

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');

:root {
  --background-menu: rgba(31, 31, 31, 0.9);
}

html {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: $font-primary;
    color: $primary-dark;

    .logo {
      height: 25px;
      width: auto;
      margin: 1rem 2rem;
    }

    // ============ Titles ============
    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    // ============ HERO section ============

    .hero-navbar {
      a {
        img {
          height: 25px;
          width: auto;
          margin: 0;
        }
      }
    }
  }
}









// ============ Style HEADER =================
// .bg-navbar {
//   background-color: $graphite !important;
// }

// .navbar {

//   padding: 0 !important;

//   .navbar-dark .bg-dark {
//     background-color: $graphite !important;
//   }

//   .navbar-collapse .collapse {
//     background-color: $graphite;
//     min-width: 100%;
//     padding: 0.5rem 1rem;
//   }


// }

// ============ Style Hero section ============

// ============ Style INTRO ============



// ============ Style MAIN ============
.main {

  .portfolio-img {

    img {
      width: 100%;
      vertical-align: middle;
    }
  }
}

// ============ Style CONTACT ============