.main-container {
  display: grid;
  grid-template-rows: 35vh auto auto auto 4em;
  grid-template-columns: 2fr 3fr 8fr 6fr 3fr 2fr;
  grid-template-areas:
    "header header header hero hero hero"
    ". . intro intro . ."
    ". main main main main ."
    ". . contact contact . ."
    "footer footer footer footer footer footer";

  .header {
    grid-area: header;
    display: flex;
    flex-flow: column;

    .header-title {
      background-color: yellow;
      height: 100%;
      position: relative;

      &>div {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
      }
    }
  }
}

.hero {
  grid-area: hero;
  background-color: red;

  display: grid;
  grid-template-rows: 3rem auto;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: ". subnavbar"
    "herobg herobg";

  .hero-navbar {
    grid-area: subnavbar;
    background-color: aqua;
  }
}

#intro {
  grid-area: intro;
  background-color: darkgoldenrod;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 8fr 2fr;
  padding-top: 8%;

  &>div:first-of-type {
    align-self: center;
    margin: 40px;
  }

  img {
    display: inline-block;
    padding: 0 10%;
    max-width: 80%;
    height: auto;
    place-self: center;
  }

  #hero-stripes {
    grid-column-start: 2;
    background-color: antiquewhite;
  }
}

// ========== Grid MAIN ==============
.main {
  grid-area: main;
  background-color: yellow;

  .main-title {
    text-align: center;
    margin-bottom: 4rem !important;
  }

  .portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;


    .portfolio-img {
      display: flex;
      justify-content: center;
      align-items: center;

      &.small {
        grid-row: span 1;
        grid-column: span 1;
      }

      &.large {
        grid-row: span 2;
        grid-column: span 2;
      }
    }
  }
}

// ========== Grid CONTACT ==============

.contact {
  grid-area: contact;
  background-color: orange;
  display: flex;
  justify-content: center;

  form {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
      "name email"
      "message message"
      "send send";

    div {
      padding: 10px;
    }

    div:first-child {
      grid-area: name;
    }

    div:nth-child(2) {
      grid-area: email;
    }

    div:nth-child(3) {
      grid-area: message;
    }

    div:last-child {
      grid-area: send;
      margin: 0 auto;

      span {
        text-align: center;
        padding: 15px;
        background-color: $blue;
        border: none;
        border-radius: 100px;
      }
    }

    label {
      position: relative;
      top: -30px;

      &#email {
        &::after {
          content: 'i will reply ASAP';
          padding-left: 1.2rem;
          font-size: 0.8rem;
          opacity: 0.8;
        }
      }
    }

    input[type="email"]+label {
      content: 'hello';
    }

    & input {
      padding: 10px 10px 5px;
      border: none;
      border-bottom: 1px solid $primary-dark;
      background-color: transparent;
      width: 100%;

      //webkit
      &::placeholder {
        color: $primary-dark;

        &:after {
          content: 'hi';
        }
      }
    }

    input[type="email"]::placeholder {
      color: red;

      &::after {
        content: 'hi';
      }
    }
  }
}

footer {
  grid-area: footer;
  background-color: lightblue;
}