.main-container {
  position: absolute;
  display: grid;
  // grid-template-rows: 50vh auto auto auto 4em;
  // // grid-template-columns: 2fr 3fr 8fr 6fr 3fr 2fr;
  // grid-template-columns: 7% 13% 34% 26% 13% 7%;
  // grid-template-areas:
  //   "header header header hero hero hero"
  //   ". . intro intro . ."
  //   ". main main main main ."
  //   ". . contact contact . ."
  //   "footer footer footer footer footer footer";
  grid-template: "header header header hero hero hero"40vh ". . intro intro . ."auto ". main main main main ."auto ". . contact contact . ."auto "footer footer footer footer footer footer"4em / 7% 13% 34% 26% 13% 7%;
  grid-row-gap: 1rem;

  @include mq(768px) {
    grid-template: "header header hero hero"30vh ". intro intro ."auto ". main main ."auto ". contact contact ."auto "footer footer footer footer"4em / 7% 47% 39% 7%;
  }

  @include mq(576px) {
    grid-template: "header header header header"30vh "hero hero hero hero"
      ". intro intro ."auto ". main main ."auto ". contact contact ."auto "footer footer footer footer"4em / 7% 47% 39% 7%;
  }

  .header {
    grid-area: header;
    display: flex;
    flex-flow: column;

    .header-title {
      // background: $white;
      height: 100%;
      position: relative;

      @include mq(576px) {
        background: linear-gradient(to top,
            $light-graphite,
            $light-graphite 50%,
            transparent 50%,
            transparent);
        background-size: 100% 15px;
      }

      &>div {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        padding: 1rem 2rem 0;

        @include mq(576px) {
          width: auto;
          padding: 2rem 2rem;
          background-color: $white;
        }
      }
    }
  }
}

.hero {
  grid-area: hero;
  display: grid;
  // grid-template-rows: 57px auto;
  // grid-template-areas:
  //   "subnavbar subnavbar subnavbar subnavbar"
  //   "stripes stripes stripes stripes";
  // we can use shortcut 'grid-template'
  grid-template: "subnavbar subnavbar subnavbar subnavbar"57px "stripes stripes stripes stripes"auto;

  @include mq(576px) {
    display: none;
  }


  .hero-navbar {
    grid-area: subnavbar;
    // background-color: $white;


  }

  .striped {
    grid-area: stripes;
    background: linear-gradient(to bottom,
        $light-graphite,
        $light-graphite 50%,
        transparent 50%,
        transparent);
    background-size: 100% 20px;
  }
}

#intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 8fr 2fr;
  padding-top: $padding-divide;

  p {
    color: $blue;
  }

  &>div:first-of-type {
    align-self: center;
    margin: 2.5rem;
    margin-right: 0;
    margin-bottom: 0;

    @include mq(576px) {
      margin: 0;
    }
  }

  img {
    display: inline-block;
    padding: 0 10%;
    max-width: 80%;
    height: auto;
    place-self: center;
    margin-top: auto;

    @include mq(768px) {
      max-width: 60%;
      padding: 0 15%;
    }

    @include mq(576px) {
      display: none;
    }
  }

  #hero-stripes {
    grid-column-start: 2;
    background: linear-gradient(to bottom,
        $light-graphite,
        $light-graphite 50%,
        transparent 50%,
        transparent);
    background-size: 100% 20px;

    @include mq(576px) {
      display: none;
    }
  }

  @include mq(768px) {
    grid-template-rows: 8fr 1fr;
  }

  @include mq(576px) {
    padding-top: 0;
    display: flex;

  }
}

// ========== Grid MAIN ==============
.main {
  grid-area: main;
  padding-top: $padding-divide;

  .main-title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .portfolio {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.625rem;

    @include mq(768px) {
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      grid-gap: 0.5rem;
    }

    @include mq(576px) {
      display: flex;
      flex-direction: column;
    }


    .portfolio-img {
      display: flex;
      justify-content: center;
      align-items: center;

      @include mq(576px) {
        margin: 0.25rem 0.5rem;
      }


      &.small {
        grid-row: span 1;
        grid-column: span 1;
      }

      &.large {
        grid-row: span 2;
        grid-column: span 2;
      }


    }
  }
}

// ========== Grid CONTACT ==============

.contact {
  grid-area: contact;
  display: flex;
  justify-content: center;
  padding-top: $padding-divide;

  form {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(3 1fr);
    grid-template-areas:
      "name email"
      "message message"
      "send send";

    @include mq(576px) {
      display: flex;
      flex-direction: column;
    }

    div {
      padding: 10px;
    }

    div:first-child {
      grid-area: name;
    }

    div:nth-child(2) {
      grid-area: email;
    }

    div:nth-child(3) {
      grid-area: message;
    }

    div:last-child {
      grid-area: send;
      margin: 0 auto;

      // span {
      //   text-align: center;
      //   padding: 15px;
      //   background-color: $blue;
      //   border: none;
      //   border-radius: 100px;
      // }
    }

    label {
      position: relative;
      top: -30px;

      &#email {
        &::after {
          content: 'i will reply ASAP';
          padding-left: 1.2rem;
          font-size: 0.8rem;
          opacity: 0.8;
        }
      }
    }

    input[type="email"]+label {
      content: 'hello';
    }

    & input {
      padding: 10px 10px 5px;
      border: none;
      border-bottom: 1px solid $primary-dark;
      background-color: transparent;
      width: 100%;

      &::placeholder {
        color: $primary-dark;
      }
    }
  }
}

footer {
  grid-area: footer;
  background: var(--background-menu);
  margin-top: 2rem;
  padding-top: $padding-divide;
}