@mixin font-light-white($font-color-menu, $font-weight) {
  font-weight: $font-weight;
  color: $font-color-menu;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin font-responsive($font-size-resp) {
  font-size: calc(#{$font-size-resp}px + (36 - #{$font-size-resp}) * (100vw - 768px) / (1800 - 768));

}

@mixin mq($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}